header{
	bottom: 0;
	padding: 20px 0;
	position: absolute;
	width: 100%;
	&.head{
		position: fixed;
		top: 0;
	}
	ul{
		list-style: none;
		text-align: center;
		li{
			display: inline-block;
			opacity: 0.25;
			padding: 5px 10px;
			-webkit-transition: all 100ms;
			   -moz-transition: all 100ms;
			    -ms-transition: all 100ms;
			     -o-transition: all 100ms;
			        transition: all 100ms;
			&:hover, &.active{
				opacity: 1;
			}
		}
	}
	h1{
		display: none;
		position: fixed;
		right: 0;
		top: 0;
		&.visible{
			display: block;
		}
	}
}