@-webkit-keyframes logo
{
	50%{
	}
	100%{		
	}
}

header{
	bottom: 10px;
	height: 26px;
	padding: 20px 0;
	position: absolute;
	width: 100%;
	-webkit-transition: all 100ms;
	   -moz-transition: all 100ms;
	    -ms-transition: all 100ms;
	     -o-transition: all 100ms;
	        transition: all 100ms;
	z-index: 999;

	&.head{
		background: $white;
		position: fixed;
		top: 0;
		div{
			opacity: 1;
			right: -30px;
			-webkit-transform: scale(0.8);
			   -moz-transform: scale(0.8);
			    -ms-transform: scale(0.8);
			     -o-transform: scale(0.8);
			        transform: scale(0.8);
		}
	}
	ul{
		list-style: none;
		text-align: center;
		li{
			display: inline-block;
			opacity: 0.25;
			padding: 5px 10px;
			-webkit-transition: all 100ms;
			   -moz-transition: all 100ms;
			    -ms-transition: all 100ms;
			     -o-transition: all 100ms;
			        transition: all 100ms;
			&:hover, &.active{
				opacity: 1;
			}
			a{
				font-size: 1em;
			}
		}
	}
	div{
		display: block;
		height: 400px;
		opacity: 0;
		overflow: hidden;
		position: fixed;
		right: -350px;
		top: -100px;
		width: 270px;
		z-index: 10000;
		-webkit-mask-image: url(../img/crab.svg), url(../img/crab.png);
		   -moz-mask-image: url(../img/crab.svg), url(../img/crab.png);
		    -ms-mask-image: url(../img/crab.svg), url(../img/crab.png);
		     -o-mask-image: url(../img/crab.svg), url(../img/crab.png);
				mask-image: url(../img/crab.svg), url(../img/crab.png);
		-webkit-transform: scale(0.2);
		   -moz-transform: scale(0.2);
		    -ms-transform: scale(0.2);
		     -o-transform: scale(0.2);
		        transform: scale(0.2);
		-webkit-transition: all 100ms;
		   -moz-transition: all 100ms;
		    -ms-transition: all 100ms;
		     -o-transition: all 100ms;
				transition: all 100ms;
		&:hover{
			h1{
				-webkit-animation: logo infinite 5s;
				   -moz-animation: logo infinite 5s;
				    -ms-animation: logo infinite 5s;
				     -o-animation: logo infinite 5s;
				     	animation: logo infinite 5s;
			}
		}
		h1{
			background: url(../img/bg-logo.png) no-repeat;
			background-position: right top;
			background-size: cover;
			display: block;
			height: 4800px;
			position: relative;
			top: 0px;
			width: 500px;
		}
	}
}