#main{
	height: 100%;

	section{
		display: block;
		height: -webkit-calc(100% - 80px);
		height: -moz-calc(100% - 80px);
		height: calc(100% - 80px);
		position: relative;
		
		@import "sections/home";
		
		@import "sections/portfolio";
		
	}
}