@import "compass/reset";
@import "variables";

html, body{
	height: 100%;
	min-height: 100%;
}

body{
	background: $white;
	height: 100%;
	margin: 0 auto;
	min-height: 100%;
}

p, a, h1, h2, h3, h4, h5, h6, li{
	color: $gray;
	font-family: helvetica, arial, sans-serif;
	font-weight: normal;
	text-decoration: none;
}

p, a{
	font-size: 0.8em;
}

@import "header";

#main{
	height: 100%;
}

h4{
	font-size: 3em;
	font-weight: lighter;
}

section{
	display: block;
	height: 100%;
	&#home{
		background: url(../img/bg.jpg) no-repeat;
		background-size: cover;
		height: -webkit-calc(100% - 80px);
		height: -moz-calc(100% - 80px);
		height: calc(100% - 80px);
		h1{
			background-image: url(../img/crab.png);
			background-image: url(../img/crab.png), url(../img/crab.svg);
			background-repeat: no-repeat;
			background-size: cover;
			display: block;
			font-size: 0%;
			height: 250px;
			margin: 0 auto;
			position: relative;
			top: -webkit-calc(50% - 125px);
			top: -moz-calc(50% - 125px);
			top: calc(50% - 125px);
			width: 250px;
		}
	}
	&#portfolio{
		padding-top: 80px;
		ul{
			display: block;
			left: 0;
			position: absolute;
			li{
				a{
					h4{
						border-left: 10px solid $white;
						opacity: 0.25;
						padding: 5px 20px;
						-webkit-transition: all 100ms;
						   -moz-transition: all 100ms;
						    -ms-transition: all 100ms;
						     -o-transition: all 100ms;
						        transition: all 100ms;
						&:hover, &.active{
							opacity: 1;
							&.ident{
								border-left: 10px solid $ident;
							}
							&.web{
								border-left: 10px solid $web;
							}
						}
					}
				}
			}
		}
		h4{
			text-align: left;
		}
	}
}