/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "_variables.scss";

body{
	background: $white;
	margin: 0 auto;
	min-height: 100%;
}
p, a, h1, h2, h3, h4, h5, h6, li{
	color: $gray;
	font-family: helvetica, arial, sans-serif;
	font-weight: normal;
	text-decoration: none;
}
p, a{
	font-size: 0.8em;
}
h4{
	font-size: 3em;
}
header{
	bottom: 0;
	padding: 20px 0;
	position: absolute;
	width: 100%;
	&.head{
		position: fixed;
		top: 0;
	}
	ul{
		list-style: none;
		text-align: center;
		li{
			display: inline-block;
			opacity: 0.25;
			padding: 5px 10px;
			-webkit-transition: all 100ms;
			   -moz-transition: all 100ms;
			    -ms-transition: all 100ms;
			     -o-transition: all 100ms;
			        transition: all 100ms;
			&:hover, &.active{
				opacity: 1;
			}
		}
	}
	h1{
		display: none;
		position: fixed;
		right: 0;
		top: 0;
		&.visible{
			display: block;
		}
	}
}
section{
	display: block;
	height: 100%;
	&#home{
		background: url(../img/bg.jpg);
		h1{
			background-image: url(../img/crab.png);
			background-image: url(../img/crab.png), url(../img/crab.svg);
			background-repeat: no-repeat;
			background-size: cover;
			display: block;
			font-size: 0%;
			height: 250px;
			margin: 0 auto;
			width: 250px;
		}
	}
	&#portfolio{
		ul{
			display: block;
			left: 0;
			position: absolute;
			li{
				a{
					h4{
						border-left: 10px solid $white;
						opacity: 0.25;
						padding: 5px 20px;
						-webkit-transition: all 100ms;
						   -moz-transition: all 100ms;
						    -ms-transition: all 100ms;
						     -o-transition: all 100ms;
						        transition: all 100ms;
						&:hover, &.active{
							border-left: 10px solid $gray;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}