@-webkit-keyframes gu{
	from{bottom: -100px; right: -100px;}
	to{bottom: -200px; right: -500px;}
}
@-moz-keyframes gu{
	from{bottom: -100px; right: -100px;}
	to{bottom: -200px; right: -500px;}
}
@-o-keyframes gu{
	from{bottom: -100px; right: -100px;}
	to{bottom: -200px; right: -500px;
	}
}
@keyframes gu{
	from{bottom: -100px; right: -100px;}
	to{bottom: -200px; right: -500px;
	}
}
@-webkit-keyframes ro{
	from{bottom: -100px; right: -500px;}
	to{bottom: -200px; right: -900px;}
}
@-moz-keyframes ro{
	from{bottom: -100px; right: -500px;}
	to{bottom: -200px; right: -900px;}
}
@-o-keyframes ro{
	from{bottom: -100px; right: -500px;}
	to{bottom: -200px; right: -900px;}
}
@keyframes ro{
	from{bottom: -100px; right: -500px;}
	to{bottom: -200px; right: -900px;}
}

&#about{
	ul{
		display: block;
		position: absolute;
		-webkit-transform: scale(0.75);
		   -moz-transform: scale(0.75);
		    -ms-transform: scale(0.75);
		     -o-transform: scale(0.75);
		     	transform: scale(0.75);
		li{
			display: inline-block;
			height: 800px;
			overflow: hidden;
			position: relative;
			width: 280px;
			&#gu{
				left: 0;
				-webkit-mask-image: url(../img/guille.png), url(../img/guille.svg);
				   -moz-mask-image: url(../img/guille.png), url(../img/guille.svg);
				    -ms-mask-image: url(../img/guille.png), url(../img/guille.svg);
				     -o-mask-image: url(../img/guille.png), url(../img/guille.svg);
						mask-image: url(../img/guille.png), url(../img/guille.svg);
				&:hover{
					.mask{
						-webkit-animation: gu infinite 5s;
						   -moz-animation: gu infinite 5s;
						    -ms-animation: gu infinite 5s;
						     -o-animation: gu infinite 5s;
						     	animation: gu infinite 5s;
					}
				}
				.mask{
					bottom: -100px;
					right: -100px;
				}
			}
			&#ro{
				-webkit-mask-image: url(../img/ro.png), url(../img/ro.svg);
				   -moz-mask-image: url(../img/ro.png), url(../img/ro.svg);
				    -ms-mask-image: url(../img/ro.png), url(../img/ro.svg);
				     -o-mask-image: url(../img/ro.png), url(../img/ro.svg);
						mask-image: url(../img/ro.png), url(../img/ro.svg);
				&:hover{
					.mask{
						-webkit-animation: ro infinite 5s;
						   -moz-animation: ro infinite 5s;
						    -ms-animation: ro infinite 5s;
						     -o-animation: ro infinite 5s;
						     	animation: ro infinite 5s;
					}
				}
				.mask{
					bottom: -100px;
					right: -500px;
				}
			}
			.mask{
				background: url(../img/bg-nos.jpg) no-repeat;
				display: block;
				height: 800px;
				position: absolute;
				width: 1050px;
			}
		}
	}
}