&#portfolio{
	padding-top: 80px;

	#portfolio_nav{
		display: block;
		left: 0;
		position: absolute;
		li{
			a{
				h3{
					opacity: 0.25;
					padding: 5px 20px;
					-webkit-transition: all 100ms;
					   -moz-transition: all 100ms;
					    -ms-transition: all 100ms;
					     -o-transition: all 100ms;
					        transition: all 100ms;
					&:hover, &.active{
						opacity: 1;
						&.ident{
							border-left: 6px solid $ident;
						}
						&.web{
							border-left: 6px solid $web;
						}
					}
				}
			}
		}
	}

	#portfolio_stage{
		height: 80%;
		margin-left: 200px;
		margin-right: 100px;
		width: -webkit-calc(100% - 300px);
		width:    -moz-calc(100% - 300px);
		width:         calc(100% - 300px);

		#portfolio_ident{
			// overflow-x: scroll;
			// overflow-y: hidden;
			// white-space: nowrap;
			li{
				float: left;
				// display: inline-block;
				height: 220px;
				margin: 5px;
				position: relative;
				width: 220px;
				&:hover{
					cursor: pointer;
					img{
						opacity: 0.25;
					}
					span{
						opacity: 1;
					}
				}
				img{
					height: 220px;
					width: 220px;
					-webkit-transition: all 100ms;
					   -moz-transition: all 100ms;
					    -ms-transition: all 100ms;
					     -o-transition: all 100ms;
					        transition: all 100ms;
				}
				span{
					bottom: 15px;
					left: 15px;
					opacity: 0;
					position: absolute;
					-webkit-transition: all 100ms;
					   -moz-transition: all 100ms;
					    -ms-transition: all 100ms;
					     -o-transition: all 100ms;
					        transition: all 100ms;
				}
			}
		}
		#portfolio_web{
			li{
				img{
					display: block;
					max-height: 550px;
					margin: 0 auto;
				}
				span{
					display: none;
				}
			}
		}
	}

	#portfolio_title{
		bottom: 10%;
		text-align: center;
		position: absolute;
		width: 100%;
	}
}