// @-webkit-keyframes logo
// {
// 	50%{
// 	}
// 	100%{		
// 	}
// }
header{
	bottom: 10px;
	height: 26px;
	padding: 20px 0;
	position: absolute;
	width: 100%;
	transition: all 100ms;
	z-index: 999;

	&.head{
		background: $white;
		position: fixed;
		top: 0;
		div{
			opacity: 1;
			right: -30px;
			transform: scale(0.8);
		}
	}
	ul{
		list-style: none;
		text-align: center;
		li{
			display: inline-block;
			opacity: 0.25;
			padding: 5px 10px;
			transition: all 100ms;
			&:hover, &.active{
				opacity: 1;
			}
			a{
				font-size: 1em;
			}
		}
	}
	div{
		display: block;
		height: 400px;
		opacity: 0;
		overflow: hidden;
		position: fixed;
		right: -350px;
		top: -100px;
		width: 270px;
		z-index: 10000;
		-webkit-mask-image: url(../images/crab.svg), url(../images/crab.png);
		transform: scale(0.2);
		transition: all 100ms;
		&:hover{
			h1{
				animation: logo infinite 5s;
			}
		}
		h1{
			background: url(../images/bg-logo.png) no-repeat;
			background-position: right top;
			background-size: cover;
			display: block;
			height: 4800px;
			position: relative;
			top: 0px;
			width: 500px;
		}
	}
}