#main{
	height: 100%;

	section{
		display: block;
		height: calc(100% - 80px);
		overflow: hidden;
		position: relative;
		&#about{
			height: 100%;
		}
		
		@import "sections/home";
		
		@import "sections/portfolio";

		@import "sections/about";
		
		@import "sections/contact";
	}
}