&#about{
	height: 100%;

	@media #{$mobile_mid}{
		height: auto;
	}

	p{
		bottom: 200px;
		display: block;
		font-size: 1.2em;
		font-weight: $light;
		left: 560px;
		line-height: 1.6em;
		position: absolute;
		text-align: left;
		width: 560px;

		@media #{$mobile_mid}{
			bottom: 0;
			left: 0;
			padding: 30px 15px;
			position: relative;
			width: 100%;
		}

		span{
			font-size: 1.4em;
			font-weight: $light;
		}
		b{
			font-style: italic;
		}
	}
	ul{
		bottom: 0;
		display: block;
		position: absolute;
		transform: scale(0.75);

		@media #{$mobile_mid}{
			display: none;
		}
		li{
			display: inline-block;
			height: 800px;
			overflow: hidden;
			position: relative;
			width: 265px;
			&#gu{
				left: 0;
				-webkit-mask-image: url(../images/guille.png), url(../images/guille.svg);
				&:hover .mask{
					animation: gu infinite 5s;
				}
				.mask{
					bottom: -100px;
					right: -100px;
				}
			}
			&#ro{
				-webkit-mask-image: url(../images/ro.png), url(../images/ro.svg);
				&:hover .mask{
					animation: ro infinite 5s;
				}
				.mask{
					bottom: -100px;
					right: -500px;
				}
			}
			.mask{
				background: url(../images/bg-nos.jpg) no-repeat;
				display: block;
				height: 800px;
				position: absolute;
				width: 1050px;
			}
		}
	}
}