&#about{
	height: 100%;

	@media #{$mobile_mid}{
		height: auto;
	}
	#text{
		bottom: 200px;
		display: block;
		left: 560px;
		position: absolute;
		text-align: left;
		width: 560px;

		@media #{$mobile_mid}{
			bottom: 0;
			left: 0;
			padding: 30px 15px;
			position: relative;
			width: calc(100% - 30px);
		}
		@media #{$mobile_big}{
			left: 300px;
			top: 150px;
			transform: scale(0.8);
		}

		h2{
			@media #{$mobile_mid}{
				border-bottom: 1px solid #e0e0e0;
				line-height: 1em;
				margin-bottom: 20px;
				padding-bottom: 20px;
			}
		}
		p{
			font-size: 1em;
			font-weight: $light;
			line-height: 1.6em;
			span{
				font-size: 1.4em;
				font-weight: $light;
			}
			b{
				font-style: italic;
			}
		}
	}
	ul{
		bottom: 0;
		display: block;
		position: absolute;
		transform: scale(0.75);

		@media #{$mobile_mid}{
			display: none;
		}
		@media #{$mobile_big}{
			left: -100px;
			top: 0;
			transform: scale(0.5);
		}
		li{
			display: inline-block;
			height: 800px;
			overflow: hidden;
			position: relative;
			width: 265px;
			&#gu{
				left: 0;
				-webkit-mask-image: url(../images/guille.png), url(../images/guille.svg);
				.mask{
					animation: gu infinite 45s;
					bottom: -100px;
					right: -100px;
				}
			}
			&#ro{
				-webkit-mask-image: url(../images/ro.png), url(../images/ro.svg);
				.mask{
					animation: ro infinite 45s;
					bottom: -100px;
					right: -500px;
				}
			}
			.mask{
				background: url(../images/bg-nos.jpg) no-repeat;
				display: block;
				height: 800px;
				position: absolute;
				width: 1050px;
			}
		}
	}
}