&#contact{
	background: $gray;
	color: $white;

	@media #{$mobile_mid}{
		height: auto;
	}

	div{
		border-bottom: 1px solid #444;
		height: calc(100% - 300px);
		margin: 0 auto;
		padding: 20px 0;
		width: 80%;

		@media #{$mobile_mid}{
			height: 100%;
			margin-bottom: 50px;
			padding-bottom: 50px;
		}

		h2{
			color: $white;
			border: none;
			text-align: center;

			@media #{$mobile_mid}{
				font-size: 1.8em;
				line-height: 1em;
			}
		}
		#visit-footer{
			bottom: 20px;
			display: block;
			height: 28px;
			margin: 0;
			position: relative;

			@media #{$mobile_mid}{
				bottom: 0;
				margin: 20px 0;
			}

			span{
				bottom: 10px;
				color: #666;
				left: 0;
				position: relative;
				text-align: left;
				width: auto;
			}
			.link-footer{
				height: 28px;
				margin: 0 6px;
				opacity: 0.15;
				width: 28px;
				transition: all 100ms;
				&.github{
					background-image: url(../images/footer/github.png);
					background-image: url(../images/footer/github.svg), url(../images/footer/github.png);
					background-repeat: no-repeat;
					background-size: cover;
				}
				&.facebook{
					background-image: url(../images/footer/facebook.png);
					background-image: url(../images/footer/facebook.svg), url(../images/footer/facebook.png);
					background-repeat: no-repeat;
					background-size: cover;
				}
				&.twitter{
					background-image: url(../images/footer/twitter.png);
					background-image: url(../images/footer/twitter.svg), url(../images/footer/twitter.png);
					background-repeat: no-repeat;
					background-size: cover;
				}
				&:hover{
					opacity: 0.6;
				}
			}
		}
		form{
			display: inline-block;
			position: relative;
			left: calc(50% - 160px);
			width: 360px;

			@media #{$mobile_mid}{
				left: 0;
				padding: 15px;
				width: 100%;
			}

			input, textarea{
				background: $white;
				border: none;
				display: block;
				font-style: italic;
				font-weight: 300;
				margin: 10px 0;
				padding: 8px 10px;
				width: 300px;

				@media #{$mobile_mid}{
					left: -20px;
					margin: 10px auto;
					position: relative;
					width: 100%;
				}
			}
			textarea{
				height: 80px;
				resize: none;
			}
			input#enviar{
				background: $white;
				color: $gray;
				font-style: normal;
				font-weight: bold;
				position: absolute;
				right: 40px;
				width: auto;

				@media #{$mobile_mid}{
					right: 0;
				}
			}
		}
	}
	ul{
		bottom: 100px;
		position: absolute;
		text-align: center;
		width: 100%;

		@media #{$mobile_mid}{
			display: none;
		}

		li{
			color: $white;
			display: inline-block;
			&.logo-footer{
				height: 100px;
				margin: 0 20px;
				opacity: 0.25;
				width: 100px;
				transition: all 100ms;
				&.ecobox{
					background-image: url(../images/footer/ecobox.png);
					background-image: url(../images/footer/ecobox.svg), url(../images/footer/ecobox.png);
					background-repeat: no-repeat;
					background-size: cover;
				}
				&.crab{
					background-image: url(../images/footer/crab.png);
					background-image: url(../images/footer/crab.svg), url(../images/footer/crab.png);
					background-repeat: no-repeat;
					background-size: cover;
				}
				&.crabster{
					background-image: url(../images/footer/crabster.png);
					background-image: url(../images/footer/crabster.svg), url(../images/footer/crabster.png);
					background-repeat: no-repeat;
					background-size: cover;
				}
				&:hover{
					opacity: 0.8;
				}
			}
		}
	}
	span{
		color: #666;
		bottom: 20px;
		left: calc(50% - 200px);
		position: absolute;
		text-align: center;
		width: 400px;
		a{
			color: #999;
			font-size: 1em;
		}
	}
}