&#home{
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;

	@media #{$mobile_mid}{
		background-position: right;
		height: 50%;
	}

	h1{
		background-image: url(../images/crab.png);
		background-image: url(../images/crab.png), url(../images/crab.svg);
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		font-size: 0%;
		height: 250px;
		margin: 0 auto;
		position: relative;
		top: calc(50% - 125px);
		width: 250px;
		
		@media #{$mobile_mid}{
			height: 150px;
			top: calc(50% - 75px);
			width: 150px;
		}
	}
	canvas{
		display: block;
		height: 300px;
		margin: 0 auto;
		position: relative;
		top: -webkit-calc(50% - 125px);
		top: -moz-calc(50% - 125px);
		top: calc(50% - 125px);
		width: 300px;
	}
}